/* Intro Section Styles */
#intro {
  background: url('../assets/github.img') center/cover no-repeat;
  color: #fff;
  padding: 5% 20px;
  text-align: center;
  font-size: 1.5em;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

#intro h3 {
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 30px;
}

#intro p {
  font-size: 1.3em;
  line-height: 1.6;
  margin-bottom: 40px;
}

#explore-btn {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.3em;
  cursor: pointer;
  width: auto;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#explore-btn:hover {
  background-color: #fff;
  color: #3498db;
}
