/* CSS for Navigation Bar */
#header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 80%;
    margin-left: 20px;
}

#nav-bar {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #4CAF50;
}

/* media queries for responsiveness */
@media (max-width: 768px) {
  #nav-bar {
    justify-content: space-between;
    margin-right: 10px;
  }

  nav ul {
      flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }
}
